<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <h1> Edit pokemon page </h1>

    <form action="/pokemon/<%=index%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%=allPokemon.name%>" />
        <br/>
        <label for="name">Type:</label>
        <input type="text" name="name" value="<%=allPokemon.type%>" />
        <br/>
        <label for="name">Attack:</label>
        <input type="text" name="name" value="<%=allPokemon.stats.attack%>" />
        <br/>
        <label for="name">Defense:</label>
        <input type="text" name="name" value="<%=allPokemon.stats.defense%>" />
        <br/>
        <label for="name">Spattack:</label>
        <input type="text" name="name" value="<%=allPokemon.stats.spattack%>" />
        <br/>
        <label for="name">Spdefense:</label>
        <input type="text" name="name" value="<%=allPokemon.stats.spdefense%>" />
        <br/>
        <label for="name">Speed:</label>
        <input type="text" name="name" value="<%=allPokemon.stats.speed%>" />
        <br/>
        </h2><button class = 'btn'><a href="/pokemon">Back to Pokédex Home</a></button>
    </form>
    
</body>
</html>