<!DOCTYPE html>
<html lang="en">
    <style>
        body{
            background-color: rgb(237, 70, 70);
            font-size: 25px;
            background-image: url("https://img-9gag-fun.9cache.com/photo/aZB1WLV_460swp.webp");
            background-size: 1700px;
        }
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <h1> Edit Pokemon </h1>

    <form action="/pokemon/<%=index%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=allPokemon.name%>" />
        <br/>
       Id:  <input type="text" name="name" value="<%=allPokemon.id%>" />
        <br/>
       Type:  <input type="text" name="name" value="<%=allPokemon.type%>" />
        <br/>
       Attack: <input type="text" name="name" value="<%=allPokemon.stats.attack%>" />
        <br/>
       Defense: <input type="text" name="name" value="<%=allPokemon.stats.defense%>" />
        <br/>
        Spattack: <input type="text" name="name" value="<%=allPokemon.stats.spattack%>" />
        <br/>
       Spdefense: <input type="text" name="name" value="<%=allPokemon.stats.spdefense%>" />
        <br/>
       Speed: <input type="text" name="name" value="<%=allPokemon.stats.speed%>" />
        <br/>
        <input type="submit" value="Update"/>
        <!-- <button class ='btn'><a href="/pokemon">Back to Pokédex Home</a></button> -->
    </form>
    
</body>
</html>