<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .flex-container {
            justify-content: center;
            display: flex;
            flex-direction: row;
        }
        
        body {
            background-color: rgb(93, 130, 215);
            font-family: 'sans-serif';
            font-size: 13px; 
            
        }

        img {
            height: 150px;
            width: 150px;
            border: 10px solid;
            border-color:rgb(245, 241, 241);
        }
        li {
            display: inline-block;

        }
        .btn {
            background-color: rgb(172, 165, 165);
            text-align: center;

        }
        h3 {
            text-align: center;
        }
    </style>


</head>
<title>Pokédex</title>

<body>
    <div class="flex-container">
        <ul>
            <button class = 'btn'><a href="/pokemon/new">Create New Pokemon</a></button>
            <h1> Pokédex </h1>
            <% for(let i=0; i < allPokemons.length; i++) { %>
                <li>
                    <h3>
                        <%= allPokemons[i].name%> </br> 
                    </h3> 
                    <a href="/pokemon/<%=i %>"><img src=<%=allPokemons[i].img %>></a>
                    <form action="/pokemon/<%=i%>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE" />
                        <button class = 'btn'><a href="/pokemon/<%=i%>/edit">EDIT</a></button>
                    </form>
                    
                    


                </li>
                <% } %>

        </ul>
    </div>
</body>

</html>